html body {
  height: 100%; }

body {
  background-color: #E9E9E9;
  color: #333;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.card {
  margin: 50px auto; }

.pharm-card {
  background-color: #FDFDFD;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #666;
  width: 300px;
  height: 300px;
  position: relative;
  padding: 10px; }

.rentability {
  background-color: #379392;
  color: #fff;
  border-radius: 0.05em;
  box-shadow: 1px 1px 3px #333;
  padding: 0.2em 0.7em 0.2em 0.45em;
  font-size: 1.3em;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  top: 1.1em;
  left: -0.3em;
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }
  .rentability .ca {
    margin-left: 1.15em;
    font-size: 0.45em; }
  .rentability .euros {
    margin-left: 0.4em; }

.pharm-body {
  font-weight: bold;
  font-size: 1.4em;
  width: 300px;
  height: 260px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  border-radius: 2px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .pharm-body:hover .is-hidden {
    display: block; }

.pharm-img-default {
  background-size: 70%; }

.pharm-body-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px 20px;
  overflow: hidden; }
  .pharm-body-filter p {
    color: rgba(51, 51, 51, 0.6);
    font-size: 0.7em;
    font-weight: normal; }
  .pharm-body-filter .pharm-body-filter-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 0 0.6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(253, 253, 253, 0.85);
    box-shadow: 0px -2px 20px 20px rgba(253, 253, 253, 0.8); }
    .pharm-body-filter .pharm-body-filter-footer a {
      font-size: 0.6em;
      border: 1px solid rgba(102, 102, 102, 0.34);
      color: rgba(102, 102, 102, 0.87);
      padding: 0.2em 0.6em;
      border-radius: 0.2em;
      margin-right: 0.85em;
      text-decoration: none;
      background: white;
      box-shadow: 0px 0px 13px white; }
      .pharm-body-filter .pharm-body-filter-footer a:hover {
        background-color: rgba(255, 255, 255, 0.5); }

.pharm-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 1em;
  padding: 0 0.8em; }
  .pharm-infos .city {
    font-size: 0.85em;
    font-weight: bold; }
  .pharm-infos .fa-map-marker {
    font-size: 1.12em;
    font-weight: bold; }
  .pharm-infos .likes a, .pharm-infos .likes span {
    color: rgba(128, 128, 128, 0.25);
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 0.35em; }
  .pharm-infos .likes .fa-eye {
    font-size: 1.2em; }

.pharm-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  margin-top: 0.5em; }
  .pharm-footer .id {
    width: 200px;
    display: flex;
    align-items: center; }
  .pharm-footer .avatar {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 1px 1px 3px #666;
    margin-right: 0.5em; }
  .pharm-footer .name {
    font-weight: bold;
    font-size: 0.85em;
    color: #358ABD; }
  .pharm-footer .pro {
    font-weight: bold;
    font-size: 0.65em;
    background-color: #A4036F;
    color: white;
    padding: 0.15em 0.3em;
    margin-left: 0.6em;
    border-radius: 0.2em; }
  .pharm-footer .date {
    font-size: 0.8em;
    color: rgba(128, 128, 128, 0.45); }

.is-hidden {
  display: none; }
